---
import LinkItem from '../components/LinkItem.astro';
import ProfileImg from '../components/ProfileImg.astro';
import AboutText from '../components/AboutText.astro';
import '../styles/global.css';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<!-- Optional, good for SEO and social previews -->
		<meta property="og:title" content="Axi's Linknest" />
		<meta property="og:description" content="Axi's Linknest: A cozy nest showcasing my web development projects hatchlings and social profiles. Discover GitHub, LinkedIn, and creative works all in one place."/>
		<meta property="og:type" content="website" />
		<!-- Update later once hosted on Netlify -->
		<meta property="og:url" content="https://your-netlify-name.netlify.app" />

		<!-- TODO: Add favicons -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>Michèle's Linknest</title>
	</head>
	<body class="bg-gradient-to-b from-slate-950 to-blue-950 text-white">
		<div class="max-w-md items-center mx-auto text-center min-h-screen flex flex-col justify-start pt-14">
			<div class="max-w-2xs">
				<header class="flex flex-col mb-6 items-center">
					<ProfileImg />
	
					<h1 class="text-3xl font-bold mb-2">Michèle's Linknest</h1>
		
					<p class="text-neutral-100 text-base">A cozy nest for my web development hatchlings and socials.</p>
				</header>
				
				<nav class="flex flex-col items-center">
					<LinkItem href="https://wispsofgrief.netlify.app" label="Wisps of Grief" icon="wispsofgrief" />
					<LinkItem href="https://github.com/ArcticAxi" label="GitHub" icon="github" />
					<LinkItem href="https://www.linkedin.com/in/michele-stassen/" label="LinkedIn" icon="linkedin" />
				</nav>	
			</div>

			<!-- About for mobile -->
			<div class="mt-10 text-gray-200 block md:hidden px-4 mb-10 space-y-2 text-justify">
				<hr class="my-8 border-t border-gray-600" />
				<AboutText />
				<hr class="my-8 border-t border-gray-600" />
			</div>

			<!-- Floating About for desktop -->
			<div class="hidden md:block text-justify fixed top-[20vh] right-12 max-w-2xs p-4 space-y-3 bg-white/90 rounded shadow text-gray-900 text-sm">
				<AboutText />
			</div>
			
			<footer class="text-sm text-neutral-400 mt-2 mb-8 md:mb-0">
				<p> &copy; 2025 - Michèle Stassen (ArcticAxi) </p>
			</footer>
		</div>
	</body>
</html>
