---
import LinkItem from '../components/LinkItem.astro';
import ProfileImg from '../components/ProfileImg.astro';
import '../styles/global.css';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<!-- Optional, good for SEO and social previews -->
		<meta property="og:title" content="Axi's Linknest" />
		<meta property="og:description" content="Axi's Linknest: A cozy nest showcasing my web development projects hatchlings and social profiles. Discover GitHub, LinkedIn, and creative works all in one place."/>
		<meta property="og:type" content="website" />
		<!-- Update later once hosted on Netlify -->
		<meta property="og:url" content="https://your-netlify-name.netlify.app" />

		<!-- TODO: Add favicons -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>Michèle's Linknest</title>
	</head>
	<body class="bg-gradient-to-b from-slate-950 to-blue-950 text-white">
		<div class="max-w-2xs mx-auto text-center min-h-screen flex flex-col justify-start pt-14">
			<header class="flex flex-col mb-6 items-center">
				<ProfileImg />

				<h1 class="text-3xl font-bold mb-2">Michèle's Linknest</h1>
	
				<p class="text-neutral-100 text-base">A cozy nest for my web development hatchlings and socials.</p>
			</header>

			<main>
				<nav class="flex flex-col items-center">
					<LinkItem href="https://wispsofgrief.netlify.app" label="Wisps of Grief" icon="wispsofgrief" />
					<LinkItem href="https://github.com/ArcticAxi" label="GitHub" icon="github" />
					<LinkItem href="https://www.linkedin.com/in/michele-stassen/" label="LinkedIn" icon="linkedin" />
				</nav>	
			</main>

	
			<footer class="text-sm text-neutral-400 mt-2">
				<p> &copy; 2025 - Michèle (ArcticAxi) </p>
			</footer>
		</div>
	</body>
</html>
