---
import SocialIcon from '../components/SocialIcon.astro';

const { href, label, icon } = Astro.props;
---
<a href={href} 
    target="_blank" 
    rel="noopener noreferrer" 
    class="relative flex items-center justify-center w-full max-w-3xs px-6 py-3 mb-4 rounded-full bg-gradient-to-r from-sky-500 to-emerald-600 text-white shadow-lg hover:from-sky-400 hover:to-emerald-500 focus:outline-none focus:ring-3 focus:ring-white focus:ring-offset-0 transition-all duration-1000 group">
    <span class="absolute left-4">
        {icon && <SocialIcon name={icon} size={20} />}
    </span>
    {label}
</a>
